<div class="container jumbotron">
	<div class="row">
		<div class="col-md-4">
			<a href="http://localhost/~chad/wordpress"><img src="/assets/dcg_logo.png"></a>
		</div>
		<div class="col-md-8">
			<h1>Welcome to Mon Menu</h1>
		</div>
	</div>
</div>