<div class="container jumbotron">
	<div class="row">
		<div class="col-md-4 col-md-offset-1 text-center">
			<p>
				<strong>Don't worry it's not just My Menu. You can create your own menu too.</strong>
			</p>
			<button type="button" class="btn btn-large btn-success"><h2>Sign up</h2></button>
		</div>
		<div class="col-md-4 col-md-offset-2">
			<p>
				Already have your own menu. Sign in and see what's for dinner.
			</p>
			<form role="form">
				<div class="form-group">
					<label for="username">Username</label>
					<input type="email" class="form-control" id="username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-primary">Sign in</button>
			</form>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
			<p>
				Don't want to sign up until you know what Mon Menu is all about?
			</p>
			<p>
				<a class="btn btn-large btn-success" href="#">Try it out</a>
			</p>
		</div>
	</div>
</div>