<div class="container jumbotron">
	<div class="row">
		<div class="col-sm-4">
			<a href="http://devchadguidry.com"><img src="/assets/dcg_logo.png"></a>
		</div>
		<div class="col-sm-8">
			<h1>Welcome to Mon Menu</h1>
		</div>
	</div>
</div>