<% provide(:title, 'About') %>
<% provide(:page_heading, 'About Mon Menu') %>

<div class="container jumbotron">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>What is it?</h2>
			<p>
				Mon Menu, or My Menu is a simple web application created to help me 
				determine what to cook for future meals.  It is a virtual menu that 
				allows me to store
				my favorite foods and snacks to reference when deciding what I want to
				eat throughout the week.  I use it by adding only foods that I know I 
				enjoy, and then reference the menu whenever I have trouble deciding 
				what I would like to eat for upcoming meals.  
			</p>
			<h2>How does it work?</h2>
			<p>
				The application is intuitive and straight-forward. When you sign up,
				you will have your own menu that you can manage. This menu is your own 
				private menu and only accessible through your login. There are only 3 categories
				of foods.  A food can be a Main Dish, a Side Dish, or a Snack, and foods are
				grouped and viewed by these categories. For me, deciding on a meal consists
				of choosing a Main Dish, and a Side Dish or two.  I use the Snack category
				to store my favorite treats and desserts.
			</p>
		</div>
	</div>
</div>