<% provide(:title, 'Contact') %>
<% provide(:page_heading, 'Contact') %>

<div class="container jumbotron">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>
				Please use the contact form below to reach me.
			</p>
			<p>
				I look forward to your comments and suggestions for improving
				Mon Menu.
			</p>
		</div>
	</div>
</div>