<% provide(:page_heading, 'Mon Menu Demo') %>

<div class="container jumbotron">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
			<p style="font-size:18pt">
				I'm sorry but the demo isn't ready yet. It's still under construction.
				Don't give up on us.  It will be ready soon.
			</p>
			<%= link_to 'Home Page', root_url, style: "font-size:24pt",
				class: "btn btn-large btn-success text-center" %>
		</div>
	</div>
</div>