<div class="container jumbotron">
	<div class="row">
		<div class="col-md-4">
			<a href="http://localhost/~chad/wordpress"><img src="/assets/dcg_logo.png"></a>
		</div>
		<div class="col-md-8">
			<h1>Welcome to Mon Menu</h1>
		</div>
	</div>
</div>
<%= render 'home_main' %>
<div class="container jumbotron">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<section class="panel panel-primary">
				<header id="about_panel_head" class="panel-heading">
					<h1 class="panel-title">About</h1>
				</header>
				<div id="about_panel_body" class="panel-body">
					<p>This is the about information.</p>
				</div>
			</section>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<section class="panel panel-primary">
				<header id="privacy_panel_head" class="panel-heading">
					<h1 class="panel-title">Privacy</h1>
				</header>
				<div id="privacy_panel_body" class="panel-body">
					<p>This is the privacy information.</p>
				</div>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<section class="panel panel-primary">
				<header id="contact_panel_head" class="panel-heading">
					<h1 class="panel-title">Contact</h1>
				</header>
				<div id="contact_panel_body" class="panel-body">
					<p>This is the contact information.</p>
				</div>
			</section>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<section class="panel panel-primary">
				<header id="terms_panel_head" class="panel-heading">
					<h1 class="panel-title">Terms and Agreement</h1>
				</header>
				<div id="terms_panel_body" class="panel-body">
					<p>This is the the terms and agreement info.</p>
				</div>
			</section>
		</div>
	</div>
</div>
<script src="/app/assets/javascripts/info_panel_toggle.js"></script>