<% provide(:title, 'Privacy Policy') %>
<% provide(:page_heading, 'Privacy Policy') %>

<div class="container jumbotron">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>Information Collected</h2>
			<p>
				Currently, Mon Menu only collects a user's email address, which is 
				used for the purposes of signing in to a user's account, and for 
				password recovery/reset purposes.
			</p>
			<p>
				A user's email address will not be shared with third parties unless required
				by law, nor used to	contact a user for any reason other than a requested 
				password reset, which	the user must initiate.
			</p>
			<p>
				For private site use, such as troubleshooting, and for statistical purposes, 
				the information listed below may be kept and associated with individual 
				user accounts. This information will not be shared with any third parties unless
				required by law.
				<ul>
					<li>Account creation date</li>
					<li>Account update date</li>
					<li>Account sign-in count</li>
					<li>Current sign-in time</li>
					<li>Last sign-in time</li>
					<li>Current sign-in IP Address</li>
					<li>Last sign-in IP Address</li>
				</ul>
			</p>
			<h2>Security</h2>
			<p>
				Data from Mon Menu's server to your browser is encrypted using SSL provided through a shared SSL Certificate with the	site's hosting platform, Heroku.
			</p>
			<p>
				Passwords provided for authenticating user accounts are stored as encrypted
				values, and do not exist in plain text.  Furthermore, settings are in place
				to prevent the plaintext display of passwords in the site's log files.
			</p>
			<h2>Cookies</h2>
			<p>
				Mon Menu does use cookies to maintain the session state for visitors to the site. 
				This session cookie is destroyed when the browser is closed, or when a user
				explicitly signs out of the site.  
			</p>
			<h2>Links to Other Sites</h2>
			<p>
				You may find hyperlinks on Mon Menu that allow you to quickly visit other sites 
				that may not be affiliated with Mon Menu.  If you use these links to leave our 
				site, you should note that we do not have any control over that other website. 
				Therefore, we cannot be responsible for the protection and privacy of any 
				information which you provide whilst visiting such sites, and such sites are 
				not governed by this privacy statement. You should exercise caution and look 
				at the privacy statement applicable to the website in question.
			</p>
			<h2>Controlling Your Information</h2>
			<p>
				You may choose to remove the information collected on this site for your
				user account by deleting your account on this site.
			</p>
		</div>
	</div>
</div>

