<% provide(:title, 'Terms of Service') %>
<% provide(:page_heading, 'Terms of Service') %>

<div class="container jumbotron">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>
				Terms of Service
			</h2>
			<p>
				By accessing this web site, you are agreeing to be bound by these 
				web site Terms and Conditions of Use, all applicable laws and regulations, 
				and agree that you are responsible for compliance with any applicable local 
				laws. If you do not agree with any of these terms, you are prohibited from 
				using or accessing this site. The materials contained in this web site are 
				protected by applicable copyright and trade mark law.
			</p>
			<p>
				Violation of any of these terms may result in the termination of your account.
			</p>

			<h2>
				User Account Terms
			</h2>
				<p>
					<ol id="account_terms">
						<li> 
							You are responsible for the security of your own user account and password. Chad Guidry cannot be held liable for any loss or damage arising from your failure to comply 
							with this security obligation.
						</li>
						<li>
							You are responsible for all activity that occurs and for all content posted under your user account.
						</li>
						<li>
							This site and its provided services may not be used for illegal purpose or to violate any laws in your jurisdiction.
						</li>
						<li>You must be a human to create and use a user account.  The registration of "bots" is not permitted.
						</li>
					</ol>
				</p>
			<h2>
				Disclaimer
			</h2>
			<p>
				The materials and services on Chad Guidry's Mon Menu web site are provided "as is". Chad Guidry makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Chad Guidry does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
			</p>

			<h2>
				Limitations
			</h2>
			<p>
				As a free service, this site is currently offered with best-effort in a minimal hosting infrastructure.  This means the information and services added to your account may not be backed up or recoverable in the event of an infrastructure failure.
			</p>
			<p>
				In no event shall Chad Guidry or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Chad Guidry's Mon Menu Internet site, even if Chad Guidry or a Chad Guidry authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
			</p>
						
			<h2>
				Revisions and Errata
			</h2>
			<p>
				The materials appearing on Chad Guidry's Mon Menu web site could include technical, typographical, or photographic errors. Chad Guidry does not warrant that any of the materials on its web site are accurate, complete, or current. Chad Guidry may make changes to the materials contained on its web site at any time without notice. Chad Guidry does not, however, make any commitment to update the materials.
			</p>

			<h2>
				Links
			</h2>
			<p>
				Chad Guidry has not reviewed all of the sites linked to its Mon Menu Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Chad Guidry of the site. Use of any such linked web site is at the user's own risk.
			</p>

			<h2>
				Site Terms of Use Modifications
			</h2>
			<p>
				Chad Guidry may revise these terms of use for its Mon Menu web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
			</p>

			<h2>
				Governing Law
			</h2>
			<p>
				Any claim relating to Chad Guidry's Mon Menu web site shall be governed by the laws of the State of Texas without regard to its conflict of law provisions.
			</p>
			<p>
				General Terms and Conditions applicable to Use of a Web Site.
			</p>
		</div>
	</div>
</div>