<%= render 'shared/top_nav' %>
<div class="container jumbotron">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Mon Menu</h1>
		</div>
	</div>
</div>
<div class="container jumbotron text-center">
	<div class="row">
		<div class="col-md-4">
			<% if !@main_dish.blank? %>
				<% if !@main_dish_photo.photo_image.blank? %>
					<%= image_tag url_for(controller: "foods", action: "show_homepage_thumb", 
																id: @main_dish.first.id), 
																class: "img-rounded", alt: "no image" %>
				<% else %>
					None of your main dishes have any pictures yet.
				<% end %>
			<% else %>
				<a href="/foods/new"><img src="/assets/no_main_dishes.png"></a>
			<% end %>
		</div>
		<div class="col-md-4">
			<% if !@side_dish.blank? %>
				<% if !@side_dish_photo.photo_image.blank? %>
					<%= link_to(image_tag url_for(controller: "foods", action: "show_homepage_thumb", 
																id: @side_dish.first.id), 
																class: "img-rounded", alt: "no image") %>
				<% end %>
			<% else %>
				<a href="/foods/new"><img src="/assets/no_side_dishes.png"></a>
			<% end %>
		</div>
		<div class="col-md-4">
			<% if !@snack.blank? %>
				<% if !@snack_photo.photo_image.blank? %>
					<%= image_tag url_for(controller: "foods", action: "show_homepage_thumb", 
																id: @snack.first.id), 
																class: "img-rounded", alt: "no image" %>
				<% end %>
			<% else %>
				<a href="/foods/new"><img src="/assets/no_snacks.png"></a>
			<% end %>
		</div>
	</div>
</div>