<%= render 'shared/top_nav' %>
<div class="container jumbotron">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Mon Menu - Side Dishes</h1>
		</div>
	</div>
</div>
<div class="container jumbotron">
	<%= render 'food_tiles' %>
</div>