<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<p>
				&copy2014 - Chad Guidry 
				<a href="http://devchadguidry.com">devChadGuidry.com</a>
			</p>
		</div>
	</div>
</div>