<div class="container jumbotron">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1><%= yield(:page_heading) %></h1>
		</div>
	</div>
	<div class="row">
		<div class = "col-md-4 col-md-offset-4 text-center">
			<%= render 'layouts/messages' %>
		</div>
	</div>
</div>